*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}


body{
background:white;
color:#08234a;
}


/* HEADER */

header{

height:90px;
background:#03152f;
display:flex;
align-items:center;
justify-content:space-between;
padding:20px 5%;

}


.logo{

color:white;
font-size:28px;
font-weight:bold;

}

.logo small{

display:block;
font-size:15px;
color:#00bfff;
letter-spacing:4px;

}


nav a{

color:white;
text-decoration:none;
margin:0 12px;
font-size:16px;

}


nav a:hover{

color:#00bfff;

}



/* HERO */

.hero{

position:relative;

}

.hero::before{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.35);
    z-index:1;
}

.hero-content{
    position:absolute;
    top:20%;
    left:5%;
    max-width:450px;
    color:white;
    z-index:2;
}

.hero img{

width:100%;
display:block;

}



.hero-content{

position:absolute;
top:20%;
left:5%;
max-width:450px;
color:white;

}


.hero-content h3{

font-size:35px;
font-style:italic;
color:#00bfff;

}


.hero-content h1{
    font-size:52px;
    letter-spacing:3px;
    color:white;
}

.hero-content h2{

font-size:50px;
color:#00bfff;

}


.hero-content p{
    font-size:20px;
    line-height:1.6;
    margin:20px 0;
    color:#eeeeee;
}



.btn{

background:#00aef0;
color:white;
padding:15px 30px;
border-radius:8px;
text-decoration:none;
display:inline-block;

}



/* ABOUT */

.about{

padding:60px 10%;
text-align:center;

}


.about h1,
.choose h1,
.simple h1{

font-size:45px;
margin-bottom:20px;

}


.about p{

font-size:20px;
line-height:1.8;

}



/* WHY CHOOSE */

.choose{

padding:50px 5%;
text-align:center;

}


.cards{

display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;

}


.card{

width:180px;
padding:25px;
font-size:35px;

}


.card h3{

font-size:20px;
margin:15px 0 5px;

}


.card p{

font-size:16px;

}



/* OTHER SECTIONS */

.simple{

padding:60px;
text-align:center;

}




/* MOBILE */

@media(max-width:768px){


header{

height:auto;
display:block;
text-align:center;

}


nav{

margin-top:20px;

}


nav a{

display:inline-block;
margin:8px;
font-size:14px;

}



.hero-content{

top:12%;
left:6%;
max-width:85%;

}


.hero-content h3{

font-size:28px;

}


.hero-content h1{

font-size:45px;

}


.hero-content h2{

font-size:35px;

}


.hero-content p{

font-size:17px;

}


.about h1,
.choose h1,
.simple h1{

font-size:35px;

}


.cards{

display:block;

}


.card{

margin:auto;

}


}
